* {
  /* font-family: "Dancing Script", cursive;*/
  /* font-family: "Satisfy", cursive; */
  /* font-family: "Trebuchet MS", Arial, sans-serif; */
  font-family: "Mooli", sans-serif;
  /* font-family: Arial, sans-serif; */
  /* font-family: "Perpetua", Georgia, serif; */
}

/* Variable declaration */
:root {
  --line-color: #ffc2c7;
  --btn-color: #4e9c86;
}

/*Common styling */
.custom-btn {
  background-color: var(--line-color);
  color: white;
  padding: 0.3% 3%;
  margin-left: 1.5%;
  border: 0.3rem solid white;
  font-size: x-large;
  display: inline-block;
  cursor: pointer;
  border-radius: 1.5rem;
}

.custom-btn:hover,
.custom-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  background-color: var(--btn-color);
  border: 0.3rem solid white;
  color: white;
}

.custom-save-btn {
  font-size: small;
  background-color: white;
  color: #fe8f98;
  border: 0.1rem solid var(--line-color);
}

.custom-save-btn:hover,
.custom-save-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  background-color: #fe8f98;
  border: 0.3rem solid whitesmoke;
  color: white;
}

.custom-all-btn {
  font-size: small;
  background-color: white;
  color: #4e9c86;
  border: 0.1rem solid var(--btn-color);
}

.custom-all-btn:hover,
.custom-all-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  background-color: var(--btn-color);
  border: 0.3rem solid whitesmoke;
  color: white;
}

/* Header styling */
.header-color {
  height: 3vh;
  background-color: var(--line-color);
}

.app-logo {
  height: 12vh;
  width: 40%;
}

/* Navigation styling */
.nav-bar {
  /* background-color: var(--line-color); */
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  z-index: 1;
  width: 100%;
  justify-content: center;
  /* border-bottom: 0.1rem dashed var(--btn-color); */
}

.selected {
  color: #0c6980;
}

/* Home page styling */
.home-img {
  background-image: url("../images/hero_img.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 18vh;
  left: 0;
  margin-top: 0%;
  background: rgba(247, 242, 242, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-content {
  position: absolute;
  top: 48vh;
  width: 50%;
  left: 26vw;
  border-radius: 25px;
  border: 5px solid var(--btn-color);
  background-color: white;
  justify-content: center;
  color: #0c6980;
  font-size: 3rem;
}

.home-content-btn {
  position: absolute;
  width: 100%;
  top: 65vh;
}

/* User Dashboard */

.custom-container {
  width: 100%;
}

.custom-col {
  background-color: white;
  border: 0.2rem solid #b6e5d8;
  border-radius: 5px;
  margin: 2.5%;
}

.item {
  background-color: lightblue;
  border: 1px solid black;
}

/* Milestone tracker page - Cards styling */
.custom-card {
  width: 18rem;
  font-size: 1.2rem;
  background-color: white;
  border: 0.2rem solid #b6e5d8;
}

.custom-card:hover {
  transform: scale(1.05) perspective(0px);
}

.child-img {
  width: 150px;
  height: 150px;
  align-self: center;
  margin-top: 5%;
  border-radius: 50%;
}

/* Custom CSS class for centering the modal */
.centered-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the modal covers the entire viewport height */
}

/* background page styling */
.background-img {
  background-image: linear-gradient(rgb(122, 206, 206), rgb(247, 222, 226)); 
  height: 100vh; /* 100% of viewport height */
  width: 100vw; /* 100% of viewport width */
  background-size: cover;
  background-position: inherit;
  background-attachment: scroll;
  position: relative;
}

.background-img-resources-pg {
  background-image: linear-gradient(rgb(122, 206, 206), rgb(247, 222, 226)); 
  height: auto; /* 100% of viewport height */
  width: 100vw; /* 100% of viewport width */
  background-size: cover;
  background-position: inherit;
  background-attachment: scroll;
  position: relative;
}

.rss-col {
  background-color: white;
  border: 3px solid #4e9c86;
  text-align: justify;
  padding: 2%;
  font-family: Arial, sans-serif;
}

.custom-link {
  /* Add your custom styles here */
  color: #4e9c86; 
  text-decoration: none; 
  font-weight: bold;
}
.custom-link:hover {
  color:rgb(173, 131, 138)
}


.custom-link-dashboard {
  /* Add your custom styles here */
  color: #4e9c86; 
  text-decoration: none; 
}
.custom-link-dashboard:hover {
   transform: translateY(-0.25em);
   color: white;
   text-decoration: none; 
}

.custom-article-card {
  width: 22rem;
  font-size: 1rem;
  background-color: white;
  border: 0.2rem solid #97ebd3;
  margin: 1%;
  padding: 1%;
}

.custom-video-card {
  width: 18rem;
  font-size: 1rem;
  background-color: white;
  border: 0.2rem solid #b6e5d8;
  margin: 1%;
  padding: 1%;
}

.custom-video-card:hover {
  transform: scale(1.05) perspective(0px);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin: 5%;
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 45px;
  color: var(--btn-color);
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 45px;
  color: var(--btn-color);
}

.add-reminder-btn {
  background-color: #3174ad;
}

.add-reminder-btn:hover,
.add-reminder-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  background-color: white;
  border: 0.3rem solid #3174ad;
  color: #3174ad
}

.edit-reminder-btn {
  color: #3174ad;
  font-size: small;
  background-color: white;
  border: 0.1rem solid #3174ad;
}

.edit-reminder-btn:hover,
.edit-reminder-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  background-color: #3174ad;
  border: 0.3rem solid white;
  color: white
}

.green-btn {
  color: white;
  font-size: small;
  background-color: #4e9c86;
  border: 0.1rem solid #4e9c86;
}

.green-btn:hover,
.green-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  background-color: white;
  border: 0.1rem solid #4e9c86;
  color: #4e9c86
}