* {
  /* font-family: "Dancing Script", cursive;*/
  /* font-family: "Satisfy", cursive; */
  font-family: "Maven Pro", sans-serif;
}

/* Variable declaration */
:root {
  --line-color: #ffc2c7;
  --btn-color: #4e9c86;
}

/*Common styling */
.custom-btn {
  background-color: var(--line-color);
  color: white;
  padding: 0.3% 3%;
  margin-left: 1.5%;
  border: 0.3rem solid white;
  font-size: x-large;
  display: inline-block;
  cursor: pointer;
  border-radius: 1.5rem;
}

.custom-btn:hover,
.custom-btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
  background-color: var(--btn-color);
  border: 0.3rem solid white;
}

.custom-all-btn {
  font-size: medium;
  background-color: white;
  color: #4e9c86;
  border: 0.1rem solid var(--btn-color);
}

/* Header styling */
.header-color {
  height: 3vh;
  background-color: var(--line-color);
}

.app-logo {
  height: 12vh;
  width: 40%;
}

/* Navigation styling */
.nav-bar {
  /* background-color: var(--line-color); */
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2rem;
  z-index: 1;
  width: 100%;
  justify-content: center;
  /* border-bottom: 0.1rem dashed var(--btn-color); */
}

/* Home page styling */
.home-img {
  background-image: url("../images/hero_img.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 18vh;
  left: 0;
  margin-top: 0%;
  background: rgba(247, 242, 242, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-content {
  position: absolute;
  top: 48vh;
  width: 50%;
  left: 26vw;
  border-radius: 25px;
  border: 5px solid var(--btn-color);
  background-color: white;
  justify-content: center;
  color: #0c6980;
  font-size: 3rem;
}

.home-content-btn {
  position: absolute;
  width: 100%;
  top: 65vh;
}

/* User Dashboard */

.custom-container {
  width: 100%;
}

.custom-col {
  background-color: #fff0df;
  border-radius: 25px;
  margin: 1%;
}

.item {
  background-color: lightblue;
  border: 1px solid black;
}

/* Milestone tracker page - Cards styling */
.custom-card {
  width: 18rem;
  background-color: #f8ffca;
  border: 0.2rem solid #b6e5d8;
}

.child-img {
  width: 150px;
  height: 150px;
  align-self: center;
  margin-top: 5%;
  border-radius: 50%;
}

/* Custom CSS class for centering the modal */
.centered-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensure the modal covers the entire viewport height */
}
